.contact-wrapper {
  height: auto;
  background: #a53860;
  color: #FFFFFF;
  box-sizing: border-box;
  z-index: 10;
  position: relative;
}

.contact-wrapper .container {
  text-align: center;
  padding: 40px 0;
}

.contact-wrapper .container input, .contact-wrapper .container textarea, .contact-wrapper .container button {
  width: 55%;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 10px;
  transition: 350ms;
}

.contact-wrapper .container input {
  height: 40px;
  padding: 15px;
  margin-bottom: 10px;
}

.contact-wrapper .container textarea {
  height: 100px;
  padding: 15px;
  margin-bottom: 10px;
  font-family: 'roboto';
}

.contact-wrapper .container button {
  height: auto;
  padding: 15px;
  font-family: 'roboto';
  cursor: pointer;
  background: #3f091d;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

@media only screen and (max-width: 900px) {
  .contact-wrapper .container input, .contact-wrapper .container textarea, .contact-wrapper .container button {
    width: 90%;
    transition: 350ms;
  }
}