header {
    background: #4a1ab0;
    color: #ffffff;
    padding: 30px;
    font-size: 20px;
    height: 115px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.header-link p {
    margin: 0;
    margin-right: 10px;
}

.header-link li {
    display: inline-block;
    list-style: none;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.header-link li img {
    height: 30px;
}

.header-link li a {
    text-decoration: none;
    color: inherit;
}

.header-link li a:hover {
    text-decoration: underline;
}

.header-link-right {
    display: block;
}

.nav-btn {
    display: none;
}

/* Mobile nav menu */
.menu-nav {
    display: none;
}

.menu-nav .menu-nav-container {
    text-align: right;
}

.menu-nav-closed {
    display: none;
}

@media only screen and (max-width: 900px) {
    .header-link-right {
        display: none;
    }

    /* Mobile nav menu */
    .nav-btn {
        display: block;
    }
    .menu-nav {
        position: fixed;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        padding: 30px;
        background: #4a1ab0;
        z-index: 1000;
        user-select: none;
        display: block;
    }

    .menu-nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-nav .menu-nav-container {
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 1%;
        text-align: right;
    }

    .menu-nav-closed {
        display: none;
    }

    .menu-nav-links ul {
        display: inline-block;
        list-style: none;
        padding: 0;
    }

    .menu-nav-links ul li {
        padding: 10px 0;
        font-size: 30px;
    }

    .menu-nav-links ul li a {
        color: inherit;
        text-decoration: none;
    }
}
